<!DOCTYPE HTML>
<html lang="zh-CN">
{{ include '/Template/components/head.html' }}
<style>
	body {color: #999;text-align: center;margin: 0;padding: 0;}
	.h1_error {font-size: 140px;margin: 0 0 40px;padding: 10px 0;background-color: #FF4F4F;color: #fff;font-weight: normal;padding-top: 200px;}
	.h2_error {font-size: 32px;margin: 0 0 10px;font-weight: normal;color: #FF4F4F;}
	.h3_error {font-size: 24px;margin: 0 0 40px;font-weight: normal;}
</style>
<body>
	{{ include '/Template/components/header.html' }}
	<h1 class="h1_error">500</h1>
	<h2 class="h2_error">出错啦</h2>
	<h3 class="h3_error">服务器内部错误！</h3>
	<a href="/" class="btn btn-primary" style="margin: 0 0 260px">回到首页</a>
	<!-- FOOTER -->
	{{ include '/Template/components/footer.html' }}
</body>
</html>