<footer class="footer">
    <div class="container">
        <div class="footer-navs">
            <ul>
                <li><strong>关于</strong></li>
                <li><a rel="nofollow" href="https://themebetter.com/about">关于我们</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/ads">广告合作</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/disclaimer">免责声明</a></li>
            </ul>
            <ul>
                <li><strong>推荐</strong></li>
                <li><a rel="nofollow" href="https://themebetter.com/wordpress/">WordPress最新下载</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/wp">WordPress函数与方法</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/it">IT教程</a></li>
                <li><a rel="nofollow" href="https://www.aliyun.com/minisite/goods?userCode=sd8taisa" target="_blank">云服务器</a></li>
                <li><a href="https://lanbojiagu.com" target="_blank">建筑加固</a></li>
            </ul>
            <ul>
                <li><strong>增值服务</strong></li>
                <li><a rel="nofollow" href="https://themebetter.com/item/custom">定制主题</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/item/function">功能开发与修改</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/item/server">服务器环境安装</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/item/logo">LOGO设计</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/item/banner">Banner制作</a></li>
            </ul>
            <ul>
                <li><strong>新手教学</strong></li>
                <li><a rel="nofollow" href="https://themebetter.com/ftp-filezilla.html">FTP教学</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/wordpress-install.html">WordPress安装</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/wordpress-theme-install.html">主题安装方法</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/wordpress-menu.html">菜单详解</a></li>
                <li><a rel="nofollow" href="https://themebetter.com/course">WordPress教程<i class="fa">&#xe643;</i></a></li>
            </ul>
            <ul>
                <li><strong>关注微信公众号</strong></li>
                <li><img src="static/picture/qr-tb.jpg" alt="公众号：themebetter"></li>
            </ul>
        </div>
        <div class="footer-copyright">
            <div class="footer-logo"><i class="fa">&#xe600;</i></div>
            &copy; 2010-2025 <a rel="nofollow" href="">themebetter</a>，更好的 <a rel="nofollow" href="">WordPress主题</a>
            <br><br><a rel="nofollow" target="_blank" href="http://beian.miit.gov.cn">豫ICP备 15010202号-2</a>
            <br><a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41159202000202"><img alt="公网安备" src="static/picture/wanganbei.png">豫公网安备 41159202000202号</a>
        </div>

    </div>
</footer>

<div class="site-contact">
    <div class="item popup-start"><i class="fa">&#xe62c;</i>微信客服<span class="popup"><span class="-inner">微信扫一扫<img src="static/picture/tb-kefu.jpg" alt="themebetter微信客服"><span class="-copy" etap="copy" data-copy="tb-kefu" data-tip="微信号已复制">点击复制微信号</span></span></span></div>
    <div class="item popup-start"><i class="fa">&#xe628;</i>QQ客服<span class="popup"><span class="-inner">QQ扫一扫<img src="static/picture/qq.webp" alt="themebetter微信客服"><span class="-copy" etap="copy" data-copy="937373201" data-tip="QQ号已复制">点击复制QQ号</span></span></span></div>
    <a class="item popup-start" rel="nofollow" target="_blank" href="https://themebetter.com/login?back=https://themebetter.com/member/workorder"><i class="fa">&#xe60a;</i>在线工单</a>
    <a class="item popup-start" rel="nofollow" class="site-contact-hd" href="https://themebetter.com/theme"><i class="fa">&#xe65a;</i>活动</a>
</div>

<nav class="m-menubar">
    <ul>
        <li class="active"><a href=""><i class="fa">&#xe681;</i>首页</a></li>
        <li class=""><a href="https://themebetter.com/theme"><i class="fa">&#xe65a;</i>618</a></li>
        <li class=""><a href="https://themebetter.com/plugin/tb-member"><i class="fa">&#xe848;</i>插件</a></li>
        <li class=""><a href="https://themebetter.com/items"><i class="fa">&#xe811;</i>服务</a></li>
        <li class=""><a href="https://themebetter.com/member"><i class="fa">&#xe641;</i>我的</a></li>
    </ul>
</nav>

<script src="static/js/loader.js"></script>
<div class="totop" etap="totop" style="display: block;"><i class="fa"></i></div>
