<footer class="footer">
    <div class="container">
        <div class="footer-navs">
            111
        </div>
        <div class="footer-copyright">
           11 </div>

    </div>
</footer>

<nav class="m-menubar">
    <ul>
        <li class=""><a href="https://themebetter.com/theme"><i class="fa">&#xe65a;</i>房屋</a></li>
        <li class=""><a href="https://themebetter.com/theme"><i class="fa">&#xe65a;</i>车辆</a></li>
        <li class=""><a href="https://themebetter.com/theme"><i class="fa">&#xe65a;</i>招聘</a></li>
        <li class=""><a href="https://themebetter.com/items"><i class="fa">&#xe811;</i>交友</a></li>
        <li class=""><a href="https://themebetter.com/member"><i class="fa">&#xe641;</i>我的</a></li>
    </ul>
</nav>

<div class="totop" etap="totop" style="display: block;"><i class="fa">&#xE8E0;</i></div>
<script>
// 平滑滚动效果
    document.querySelector('.totop').addEventListener('click', function(e) {
  e.preventDefault();
  window.scrollTo({
    top: 0,
    behavior: 'smooth'
  });
});
</script>