<header class="header">
	<h1 class="logo"><a href="" title="theme + better = themebetter"><i class="fa">&#xe64b;</i>更好的WordPress主题,值得信任的WordPress主题开发商</a></h1>	<h2 class="site-brand-txt">更好的WordPress主题</h2>

	<div class="wel-sign">
		<div class="wel-item"><a rel="nofollow" class="btn btn-primary-outline" href="https://themebetter.com/login">登录</a></div>
		<div class="wel-item"><a rel="nofollow" class="btn btn-primary" href="https://themebetter.com/register">免费注册</a></div>
	</div>
	<div class="site-navbar">
		<ul>
			<li class="active"><a href="">首页</a></li>
			<li class=""><a href="https://themebetter.com/theme/dux">DUX</a></li>
			<li class=""><a href="https://themebetter.com/theme/mok">MOK</a></li>
			<li class="has-sub-menu"><a href="https://themebetter.com/theme">618活动专场<span class="fa fa-hd">&#xe6bf;</span></a><div class="sub-menu"><ul><li class=""><a href="https://themebetter.com/theme/nab">NAB主题</a></li><li class=""><a href="https://themebetter.com/theme/yia">YIA主题</a></li><li class=""><a href="https://themebetter.com/theme/mok">MOK主题</a></li><li class=""><a href="https://themebetter.com/theme/dux">DUX主题</a></li><li class=""><a href="https://themebetter.com/theme/xiu">XIU主题</a></li><li class=""><a href="https://themebetter.com/theme/tob">TOB主题</a></li><li class=""><a href="https://themebetter.com/theme/themebetter-ent">ENT主题</a></li><li class=""><a href="https://themebetter.com/theme/d8">D8主题</a></li></ul></div></li>
			<li class="has-sub-menu"><a href="https://themebetter.com/plugin/tb-member"><i class="fa">&#xe8de;</i> 插件</a><div class="sub-menu"><ul><li class=""><a href="https://themebetter.com/plugin/tb-member">TB-Member</a></li></ul></div></li>
			<li class=""><a href="https://themebetter.com/items"><i class="fa">&#xe811;</i> 服务</a></li>
			<li class=""><a href="https://themebetter.com/news">动态</a></li>
			<li class=""><a href="https://themebetter.com/noob">新手册</a></li>
			<li class=""><a href="https://themebetter.com/course">教程</a></li>
			<li class=""><a href="https://themebetter.com/question"><i class="fa">&#xe673;</i> 问答</a></li>
		</ul>
	</div>

	<div class="mnav-back" etap="nav_back" data-back="https://themebetter.com/theme"><i class="fa">&#xe726;</i></div>
	<div class="mnav-search" etap="nav_search" data-icon="&#xe62d;"><i class="fa">&#xe604;</i></div>
	<div class="m-mask"></div>
</header>