<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-title" content="themebetter">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://themebetter.com/static/img/icon-144x144.png">
	<link rel="shortcut icon" href="https://themebetter.com/favicon.ico">
	<link rel="dns-prefetch" href="//at.alicdn.com">
	<title>更好的WordPress主题_可靠的WordPress开发商_themebetter</title>
	<meta name="keywords" content="wordpress主题,wordpress模板,wordpress主题下载,wordpress下载,wordpress中文主题,wp主题,大前端主题,dux主题,浩子主题,themebetter">
	<meta name="description" content="themebetter致力于提供更好的WordPress主题，9年WordPress主题开发经验，有独立的团队设计开发WordPress主题并定期维护更新和售后，值得信赖的选择，WordPress建站无忧！">
	<meta property="og:type" content="website">
	<meta property="og:title" content="更好的WordPress主题_可靠的WordPress开发商_themebetter">
	<meta property="og:description" content="themebetter致力于提供更好的WordPress主题，9年WordPress主题开发经验，有独立的团队设计开发WordPress主题并定期维护更新和售后，值得信赖的选择，WordPress建站无忧！">
	<meta property="og:image" content="https://themebetter.com/static/img/tb.jpg">
	<link rel="stylesheet" href="static/css/app.css" media="all">
</head>